step-rey #rey {
  font-size: 50px;
  background-image: url("~assets/img/rey.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}
step-rey #rey > p {
  margin-top: 20px;
}
step-rey #rey .footnote {
  font-size: 25px;
  left: 400px;
  position: absolute;
  bottom: 40px;
}
