<!--<div layout="row" ng-cloak>
     <div layout="row" style="width: 100%;">
        <div flex>    
-->
            <div style="float: right;">   
<!-- <span class="example-spacer"  flex></span> style="top: 50; left: 100;"-->	
				<button  class="mat-mini-fab mat-primary " color="Accent" style="color:primary; position: absolute;  right: 100px !important; bottom: 60px !important;"><mat-icon class="material-icons mat-48" style="position: absolute; top:7px; left:8px;">eject</mat-icon></button>
				<button  class="mat-mini-fab mat-primary " color="primary" style="color:primary; position: absolute; right:  50px !important; bottom: 60px !important;"><mat-icon mat-font-icon="mdi mdi-check" style="position: absolute; top:8px; left:7px;">view_module</mat-icon><!--
				<button  class="mat-fab mat-primary mat-fab-bottom-right" 
				style="
	top: auto !important;
    right: 20px !important;
    bottom: 10px !important;
    left: auto !important;
    position: fixed !important;"
					     <mat-icon class="material-icons" aria-label="Google Hangout">face</mat-icon>
					<mat-icon mat-font-icon="mdi mdi-check">border clear</mat-icon
					<mat-icon mat-font-icon="mdi mdi-check">border inner</mat-icon>
	-->
				</button><!-- 
				<button mat-mini-fab>Basic</button>
  <button mat-mini-fab color="primary">Primary</button>
  <button mat-mini-fab color="accent">Accent</button>
  <button mat-mini-fab color="warn">Warn</button>
  <button mat-mini-fab disabled>Disabled</button>-->
            </div>   
			
            <img mat-card-image src="assets\img\world.svg">
<!--			
        </div>
     </div>
</div>
-->
