<!--<div id="impress">

-->
<step-list></step-list>
<step-rey></step-rey>
<step-pr></step-pr>
<step-web></step-web>
<step-code></step-code>
<step-paramount></step-paramount>
<step-greetings></step-greetings>
<!---->
<step-accesso></step-accesso>
<!--
<step-hobbies></step-hobbies>
<step-pets></step-pets>


<div id="impress">
<div id="bored" class="step slide" data-x="-1000" data-y="-1500">
        <q>Arenn't you just <b>bored</b> with all those slides-based presentations?</q>
</div>
<div class="step slide" data-x="0" data-y="-1500">
    <q>Don't you think that presentations given <strong>in modern browsers</strong> shouldnn't <strong>copy the limits</strong> of 'classic' slide decks?</q>
</div>
    <div class="step slide" data-x="1000" data-y="-1500">
        <q>Would you like to <strong>impress your audience</strong> with <strong>stunning visualization</strong> of your talk?</q>
    </div>

 -->
    <!--
        
        This is an example of step element being scaled.
        
        Again, we use a `data-` attribute, this time it's `data-scale="4"`, so it means that this
        element will be 4 times larger than the others.
        From presentation and transitions point of view it means, that it will have to be scaled
        down (4 times) to make it back to its correct size.
        
    <div id="title" class="step" data-x="0" data-y="0" data-scale="4">
        <span class="try">then you should try</span>
        <h1>impress.js<sup>*</sup></h1>
        <span class="footnote"><sup>*</sup> no rhyme intended</span>
    </div>
    -->


    <!--
        
        So to summarize of all the possible attributes used to position presentation steps, we have:
        
        * `data-x`, `data-y`, `data-z` - they define the position of **the center** of step element on
            the canvas in pixels; their default value is 0;
        * `data-rotate-x`, `data-rotate-y`, 'data-rotate-z`, `data-rotate` - they define the rotation of
            the element around given axis in degrees; their default value is 0; `data-rotate` and `data-rotate-z`
            are exactly the same;
        * `data-scale` - defines the scale of step element; default value is 1
        
        These values are used by impress.js in CSS transformation functions, so for more information consult
        CSS transfrom docs: https://developer.mozilla.org/en/CSS/transform
        
    -->
<!--
</div>

</div>
-->